:root {
  --color-main-bg: #e9ecef;
  --color-seconday: #2a9d8f;
  --color-secondary-bg: #e76f51;
  --color-teritary-bg: #264653;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-main-bg);
  color: white;
  height: 100vh;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
}

.nav {
  background-color: var(--color-secondary-bg);
  position: fixed;
  top: 0;
  padding: 15px 30px;
  width: 100%;
  z-index: 2;
}
.nav__title {
  display: flex;
  gap: 10px;
  align-items: center;
}
.main {
  position: relative;
  height: 100vh;
  width: 100vw;
  padding-top: 65px;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.main > .left {
  background-color: var(--color-teritary-bg);
  padding: 20px 30px;
}
.main > .left .top {
  margin-top: 20px;
  margin-bottom: 40px;
}
.today {
  font-size: 18px;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  font-weight: 500;
  cursor: pointer;
}
.today:hover {
  background-color: #e76f51;
}
.project-name {
  text-transform: uppercase;
}
.projects-list__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.projects-list__header h3 {
  font-weight: 300;
}
.projects-list__header .left {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px;
}
.projects__icon,
.today__icon {
  cursor: pointer;
  font-size: 17px;
}
.main > .projects {
  color: #444;
  padding: 20px 30px;
}
.btn {
  background-color: transparent;
  outline: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
  font-weight: 600;
}
.btn--add-todo {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  margin-top: 15px;
}
.btn--add-todo:hover {
  color: var(--color-seconday);
}
.project-name {
  margin-bottom: 10px;
}
.add-todo-form {
  width: 400px;
  margin: auto;
}
.edit-todo-form {
  width: 600px;
}
.add-todo-form label,
.edit-todo-form label {
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
  color: rgb(22, 22, 22);
}
.add-todo-form input,
.add-todo-form textarea,
.two-input select,
.edit-todo-form input,
.edit-todo-form textarea,
.edit-input select {
  width: 100%;
  padding: 10px 20px;
  background-color: transparent;
  outline: none;
  border: 1px solid var(--color-teritary-bg);
  border-radius: 5px;
  font-family: inherit;
  font-size: 16px;
}
.add-todo-form textarea,
.edit-todo-form textarea {
  resize: none;
}
.add-todo-form ul,
.edit-todo-form ul {
  list-style: none;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.add-todo-form .two-input,
.edit-todo-form .two-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.add-todo-form input::placeholder,
.add-todo-form textarea::placeholder {
  color: rgb(92, 92, 92);
}
.form__btn-add,
.form__btn-cancle,
.form__btn-save {
  padding: 7px 10px;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
}
.form__btn-add,
.form__btn-save {
  background-color: var(--color-seconday);
}
.form__btn-cancle {
  background-color: var(--color-secondary-bg);
}
.projects__list {
  list-style: none;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.projects__list li {
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  text-transform: capitalize;
}

.btn-delete-project {
  display: inline-block;
  margin-left: auto;
}
.projects__list li:hover {
  background-color: #e76f51;
}
.project__icon {
  cursor: pointer;
}
.todo-container {
  border: 1px solid rgba(192, 192, 192, 0.836);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 10px;
  margin-bottom: 10px;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}
.todo__title {
  display: flex;
  gap: 10px;
  align-items: center;
}
.todo__controls {
  display: flex;
  align-items: center;
  gap: 10px;
}
.projects-list__container {
  width: 100%;
}
.done-icon,
.edit-icon,
.details-icon,
.date-icon {
  cursor: pointer;
}
.add-project-form {
  gap: 5px;
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-top: 8px;
}
.add-project-form input {
  border-radius: 5px;
  width: 100%;
  outline: none;
  border: 1px solid #eee;
  color: white;
  background-color: transparent;
  padding: 5px 10px;
  font-family: inherit;
}
.add-project-form input::placeholder {
  color: rgb(185, 185, 185);
}
.btn-add-project {
  color: white;
  padding: 5px;
  border-radius: 5px;
  background-color: #2a9d8f;
}

.modal {
  width: 450px;
  background-color: #e9ecef;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 0;
  border-radius: 5px;
  z-index: 3;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.664);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}
.todo__description {
  margin-bottom: 10px;
}
.todo__description + div {
  display: flex;
  gap: 50%;
}
.todo__details,
.todo__edit {
  margin-top: 10px;
}

.priority-1 {
  border-left: 5px solid #f73232;
}
.priority-2 {
  border-left: 5px solid #facc15;
}
.priority-3 {
  border-left: 5px solid #22c55e;
}
.hidden {
  display: none;
}
